<div class="copyright-area pt-30 pb-30" data-bg-color="#eeeff4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-7">
                <p class="copyright-text">
                    © VBooX 2021 - All Rights Reserved. A product of <a href="about.html"
                                                                  data-color="#2f75ff">Thokem Technologies Limited</a>
                </p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-5">
                <div class="text-lg-end">
                    <div class="footer-social">
                        <a href="#" data-bg-color="#3b5998"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" data-bg-color="#1da1f2"><i class="fab fa-twitter"></i></a>
                        <a href="#" data-bg-color="#e60023"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#" data-bg-color="#1ab7ea"><i class="fab fa-vimeo-v"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>